<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="utf-8">
    <title>Admin - Promotion List</title>
</head>
<body>
<div class="wrapper row-offcanvas row-offcanvas-left">
    <div style="display: flex">
        <div></div>
        <div class="container" style="padding: 0; position: relative">
            <div></div>
            <div class="container">
                <h1 style="font-family: cursive; color: orange;">List Promotion</h1>
                <div style="display: flex; justify-content: space-between">
                    <div>
                        <p>
                            <a class="btn btn-primary" href="/admin/listPromotions/add">ADD PROMOTIONS</a>
                        </p>
                    </div>
                    <div class="search_box pull-right">
                        <div class="input-group">
                            <form>
                                Search: <input type="text" name="keyword" id="keyword" size="50"/>
                            </form>
                        </div>
                    </div>
                </div>
                <table class="table table-bordered">
                    <tr style="text-align: center">
                        <th><a style="color: black">
                            Id</a></th>
                        <th>Name</th>
                        <th><a style="color: black">
                            Discount</a></th>
                        <th>Apply day</th>
                        <th>Total usage</th>
                        <th>Max discount</th>
                        <th>Remain Apply</th>
                        <th>Status</th>
                        <th>Code</th>
                        <th style="text-align: center">Action</th>
                    </tr>
                    <tbody>
                    <tr *ngFor="let p of listPromotion">
                        <td>{{p.id}}</td>
                        <td>{{p.name}}</td>
                        <td>{{p.discount}}</td>
                        <td>{{p.applyDay}}</td>
                        <td>a</td>
                        <td>{{p.maxdiscount}}</td>
                        <td>{{p.remainapply}}</td>
                        <td>{{p.status==0? 'Disable':'Enable'}}</td>
                        <td>{{p.code}}</td>
                        <td><a class="btn btn-primary btn-sm" style="margin-top: 0">Detail & Edit</a>
                            <a>Disable</a>

                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
